@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 8vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(38, 72, 226);
    margin: 5px;
    translate: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    form {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#card {
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    /* background-size: 1900px 1100px; */
    background-position: 100%;
}

.about {
    height: 100%;
    width: 80%;
}

#in-touch {
    background-image: url(/assets/Rectangle\ 11.png);
    background-repeat: no-repeat;
    background-size: 1850px 480px;
}

.serv {
    height: 90%;
    width: 90%;
}

.contact-us {
    align-items: center;
    padding: 50px;
    margin-top: 100px;
    background-color: rgb(0, 0, 255);
}

#col1 {
    color: #fff;
}

#contactForm {
    background-color: rgb(246, 246, 250);
}

#footer {
    background-color: #152238;
}

.wrapper {
    max-width: 850px;
    margin: 50px auto;
    height: 600px;
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 5px 25px 35px #3535356b
}

.wrapper .bg-yellow {
    background-color: #fdc91f;
    height: 100%;
    width: 40%;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 20px
}

.wrapper .bg-yellow .text-white {
    font-size: 3rem
}

.wrapper .bg-yellow .cursive {
    font-family: 'Kalam', cursive;
    font-size: 1rem;
    font-weight: 600
}

.wrapper .contact-form {
    width: 100%;
    padding: 40px 80px 40px 50px
}

.wrapper .contact-form .h3 {
    padding-top: 15px;
    font-weight: 700
}

.wrapper .contact-form label {
    font-size: 0.9rem;
    color: #555;
    font-weight: 500;
    margin-bottom: 10px
}

.wrapper .contact-form textarea {
    height: 120px
}

.wrapper .contact-form .form-control {
    background-color: #e7e7e7;
    box-shadow: none;
    font-weight: 600;
    font-size: 0.95rem;
    border: none;
    border-top: 1px solid #bbb
}

.wrapper .contact-form .btn {
    font-size: 1.2rem;
    font-weight: 700
}

.wrapper .contact-form .btn.btn-default {
    color: #F50057
}

.wrapper .contact-form .btn.btn-primary {
    background: #F50057;
    border: none;
    padding: 8px 18px;
    box-shadow: 0 8px 12px #3535356b
}

.wrapper .contact-form .btn.btn-primary:hover {
    background-color: #f50056e5
}

.modal .modal-content .modal-header .fas {
    color: #F50057
}

@media(max-width: 900.5px) {
    .wrapper {
        margin: 20px
    }
}

@media(max-width: 575.5px) {
    .wrapper .contact-form {
        padding: 40px
    }
    .wrapper .bg-yellow {
        padding-left: 30px
    }
}

@media(max-width: 496px) {
    .wrapper .bg-yellow {
        display: none
    }
}

@media(max-width: 350px) {
    .wrapper {
        height: 570px
    }
    .wrapper .contact-form {
        padding: 20px
    }
}